<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {{ range $key, $value := . }}
            <tr>
                <td>{{$value.Id:}}</td>
                <td>{{$value.Title}}</td>
                <td>View Post</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>